
.CustomerTab {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.GreenSection {
    height:400px;
    background: #007272;
    margin-left: 20%;
    width: 100%;
    display: flex;
}

input {
  margin: 10px;
}

.WelcomeTab {
display: flex;
justify-content: center;
align-items: center;
align-content: center;
flex-direction: column;
}

.TransactionsTab {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  font-weight: lighter;
}

.DashboardTab {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.DashboardTop {
  display: flex;
  justify-content: space-between;
  margin: auto;
  max-width: 800px;
  margin-bottom: 1rem;
  flex-wrap: wrap;
  background-color: blueviolet;
}

.DashboardBottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2rem;
  background-color: blue;
}