
.CustomerTab {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.GreenSection {
    height:400px;
    background: #007272;
    margin-left: 20%;
    width: 100%;
    display: flex;
}

input {
  margin: 10px;
}

.WelcomeTab {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
}

.TransactionsTab {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  font-weight: lighter;
}

.DashboardTab {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.CardOverview {
  display: flex;
  justify-content: center;
}

.chart-container {
  display: flex;
  flex-wrap: wrap;
}

.DashboardBottom {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 2rem;
  margin-top: 1rem;
}

.tag-EASY {
  width: 6rem;
  color: white;
  background-color: #007B5E !important;
  }
  
.tag-MEDIUM {
  width: 6rem;
  color: white;
  background-color: #FDBB31 !important;
}

.tag-HARD {
  width: 6rem;
  color: white;
  background-color: #DC2A2A !important;
}
.tag-PROFESSIONAL {
  width: 7.2rem;
  color: white;
  background-color: pink !important;
}
.tooltip {
  text-decoration-line: underline;
}

.tooltip:hover {
  text-decoration-line: underline;
  color: #A5E1D2;
}

.ApplicationTab {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
}

.TaskTab {  
  display: flex;
  flex-direction: row;
  min-width: 370px;
  justify-content: flex-start;
  align-items: baseline;
  margin-bottom: 1rem;
}