.App {
  font-family: sans-serif;
  text-align: center;
  margin-top: 200px;
}

/* The navigation bar */
.Menu {
  overflow: hidden;
  background-color: #007272;
  position: fixed;
  /* Set the navbar to fixed position */
  top: 0;
  /* Position the navbar at the top of the page */
  width: 100%;
  font-family: sans-serif;
}

/* Full width */
/* Links inside the navbar */
.Menu button {
  float: left;
  display: block;
  background-color: #007272;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.Kunde {
  font-family: sans-serif;
  text-align: center;
  margin-top: 200px;
}

.Transaksjoner {
  font-family: sans-serif;
  text-align: center;
  margin-top: 200px;
}